<%- include('partials/header') %>
<%- include('partials/main_nav') %>

<div class="container py-4">
  <div class="text-center mb-4">
    <img
      src="/public/logo.png"
      alt="SIM Media Review Logo"
      class="img-fluid"
      style="max-width: 220px;"
    >
  </div>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %> page</p>

  <p class="lead text-center">
    SIM Media Review is a simple web application where users can add, browse, and manage reviews
    for different types of media, including TV shows, movies, books, and more.
  </p>
   
  <hr>

</div>

<%- include('partials/footer') %>